<%= link_to span_tag(t('cms.views.layouts.create_new_layout')), new_cms_admin_layout_path, :class => 'big button' %>
<h1><%= t('cms.sections.layouts') %></h1>

<ul class='list'>
  <%= render :partial => 'index_branch', :collection => @cms_layouts %>
</ul>
